h1, h2, h3 {
    text-align: center;
    margin: 20px;
}

body {
    min-width: 450px;
    min-height: 700px;
}

.buttons-container {
    text-align: center;
    justify-content: center;
    margin: 20px 20px 20px 20px;
    display: flex;
}

.button {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin: 20px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: all .12s ease;
    background-color: lightblue;
    display: grid;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.comp-choice {
    width: 100px;
    height: 100px;
    margin: 20px;
    transition: all .25s ease;
    opacity: 0;
}

.choice-announce {
    opacity: 0;
    transition: all .25s ease;
}

.button:hover {
    outline:none;
    transform: scale(1.12);
    background-color: lightcoral;
}

.button:focus {
    outline:none;
    background-color: rgb(255, 121, 68);
}

.button::-moz-focus-inner { /*to get rid of firefox dotted box on focus*/
    border:0;
}

.button-img {
    width: 80px;
    margin: auto;
}

#rock {
    background-image: url("images/icons8-rock-80.png");
}

#paper {
    background-image: url("images/icons8-paper-plane-96.png")
}

#scissors {
    background-image: url("images/icons8-scissors-100.png");
}

.scores-container {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

#you {
    margin: 2% 5% 1% 20%;
}

#computer {
    margin: 2% 20% 1% 5%;
}